---
import Layout from '../layouts/Layout.astro';
import Title from '../components/Title.astro';
import BrandLink from '../components/BrandLink.astro';
import json from '../database.json';
---

<Layout title="DREDGE Mods">
	<main>
		<Title title="Page not found" />

		<div class="w-100 justify-content-center d-flex">
			<div class="w-md-50">
				<p>Sorry. Not sure what you were looking for but I didn't find it. Try using the navigation buttons at the top of the page to find what you want.</p>
			</div>
		</div>
	</main>
</Layout>


