---
import Layout from '../layouts/Layout.astro';
import Title from '../components/Title.astro';
import BrandLink from '../components/BrandLink.astro';
import json from '../database.json';
---

<Layout title="DREDGE Mods">
	<main>
		<div class="w-100 justify-content-center d-flex">
			<p class="w-lg-50">
				The <strong>DREDGE Mods</strong> website hosts {json.length} unofficial mods for <a href="https://www.dredge.game/">DREDGE</a> 
				 which you can install and play using the <a href="https://github.com/xen-42/DredgeModManager">DREDGE Mod Manager</a>.
			</p>
		</div>


		<br/>

		<Title title="Available Mods" />

		<div class="w-100 justify-content-center d-flex">
			<div class="w-lg-50">
				<p>Here are some of the mods available. See the rest of them <a href="/mods/">here</a>.</p>
				<p>
					{json.slice().sort(() => 0.5 - Math.random()).slice(0, 3).map(x => 
						<li><a href={"/mods/" + x.name.toLowerCase().trim().split(" ").join("_")}><b>{x.name}</b></a> - {x.description}</li>
					)}
				</p>
			</div>
		</div>

		<br/>

		<Title title="Mod Manager"/>

		<div class="w-100 justify-content-center d-flex">
			<div class="w-lg-50">
				<div class="d-flex align-items-center">
					<img src="/images/mod manager.png" class="w-100 ratio ratio-1x1"></img>
				</div>
			</div>
		</div>
				
		<br/>

		<div class="justify-content-center d-flex">
			<a href="https://github.com/xen-42/DredgeModManager/releases" class="btn btn-info rounded ps-4 pe-4 p-2"><h2>Click here to download the Mod Manager</h2></a>
		</div>

		<br/>

		<div class="w-100 justify-content-center d-flex">
			<div class="w-lg-50">

				The mod manager allows you to:
				<ul>
					<li>Download and install mods, including the mod loader itself</li>
					<li>Update mods</li>
					<li>Enable or disable mods</li>
					<li>Launch the game directly with your enabled mods</li>
				</ul>

				To use the manager:
				<ul>
					<li>Download the correct version from the link above. If you're on windows this will likely be "Dredge.Mod.Manager_#.#.#_x64-setup.exe".</li>
					<li>Run the installer. If on Windows, Microsoft Defender will stop you from running it. Click "more info" and "run anyway".</li>
					<li>Click through the installer as normal.</li>
				</ul>

				<b>Note:</b> You must install Winch from the Available mods list to have any mods take work. To get rid of all mods, uninstall all of them including Winch
				 and then verify your game files in 
				whatever platform you installed the game with.
			</div>
		</div>

		<br/>

		<Title title="Winch Mod Loader" />

		<div class="w-100 justify-content-center d-flex">
			<div class="w-lg-50">
				<div class="d-flex">
					<div class="d-flex align-items-center">
						<img src="/images/winch icon.png" class="w-100 ratio ratio-1x1"></img>
					</div>

					<div class="ms-4">
						<p>All the mods available on the site are made possible thanks to the <a href="https://github.com/Hacktix/Winch">Winch mod loader</a> 
						by <a href="https://github.com/Hacktix">Hacktix</a>.</p>

						<p>If you're interested in creating mods yourself, check out the <a href=https://github.com/Hacktix/Winch/wiki>documentation</a> 
						or try picking apart the <a href="https://github.com/Hacktix/Winch/tree/master/Winch.Examples">example mods</a>.</p>

						<p>If you have already created a mod and want to add it to the database, click 
							<a href="https://github.com/xen-42/DredgeModDatabase/issues/new?assignees=&labels=add-new-mod&projects=&template=add-new-mod.yml&title=%5BYour+mod+name+here%5D">
								here</a>.
						</p>
					</div>
				</div>

			</div>
		</div>

		<br/>

		<Title title="Community" />

		<div class="w-100 justify-content-center d-flex">
			<div class="w-lg-50">
				<p>Join the DREDGE community modding Discord server for mod support, or if you want to talk about playing and creating mods.</p>
				<BrandLink class="fa-discord" name="Modding Discord" url="https://discord.gg/qFqPuTUAmD" linkClass="link-light" />
			</div>
		</div>

	</main>
</Layout>


