---
import Layout from '../layouts/Layout.astro';
import Title from '../components/Title.astro';
import BrandLink from '../components/BrandLink.astro';
import json from '../database.json';
---

<Layout title="DREDGE Mods">
	<main>
		<p>
			<strong>DREDGE Mods</strong> are unofficial modifications for <a href="https://www.dredge.game/">DREDGE</a> 
			by <a href="https://www.blacksaltgames.com/">Black Salt Games</a> which you can install and play using the 
			<a href="https://github.com/xen-42/DredgeModManager">DREDGE Mod Manager</a>.
		</p>

		<br/>

		<Title title="Mods" />

		<p>Here are some of the mods available. See the rest of them <a href="/mods/">here</a>.</p>
		<p>
			{json.sort(() => 0.5 - Math.random()).slice(0, 3).map(x => 
				<li><a href={"/mods/" + x.name.toLowerCase().trim().split(" ").join("_")}><b>{x.name}</b></a></li>
			)}
		</p>

		<br/>

		<Title title="Manager" />

		<p>You can install the mod manager <a href="https://github.com/xen-42/DredgeModManager">here</a>.</p>

		<br/>

		<Title title="Community" />

		<p>Join the DREDGE community modding Discord server for mod support, or if you want to talk about playing and creating mods.</p>
		<BrandLink class="fa-discord" name="Modding Discord" url="https://discord.gg/qFqPuTUAmD" linkClass="link-dark" />
		<p>

		</p>
	</main>
</Layout>


