---
import Layout from '../layouts/Layout.astro';
import Title from '../components/Title.astro';
import BrandLink from '../components/BrandLink.astro';
import json from '../database.json';
---

<Layout title="DREDGE Mods">
	<main>
		<div class="w-100 justify-content-center d-flex">
			<p class="w-50">
				The <strong>DREDGE Mods</strong> website hosts {json.length} unofficial mods for <a href="https://www.dredge.game/">DREDGE</a> 
				 which you can install and play using the <a href="https://github.com/xen-42/DredgeModManager">DREDGE Mod Manager</a>.
			</p>
		</div>


		<br/>

		<Title title="Mods" />

		<div class="w-100 justify-content-center d-flex">
			<div class="w-50">
				<p>Here are some of the mods available. See the rest of them <a href="/mods/">here</a>.</p>
				<p>
					{json.slice().sort(() => 0.5 - Math.random()).slice(0, 3).map(x => 
						<li><a href={"/mods/" + x.name.toLowerCase().trim().split(" ").join("_")}><b>{x.name}</b></a></li>
					)}
				</p>
			</div>
		</div>

		<div class="w-100 justify-content-center d-flex ">
			<a href="https://github.com/xen-42/DredgeModManager/releases" class="btn btn-info rounded ps-4 pe-4 p-2"><h2>Download the Manager Here</h2></a>
		</div>

		<br/>

		<Title title="Winch Mod Loader" />

		<div class="w-100 justify-content-center d-flex">
			<div class="w-50">
				<div class="d-flex">
					<div class="w-75 d-flex align-items-center">
						<img src="/public/favicon.png" class="w-100 ratio ratio-1x1"></img>
					</div>

					<div class="ms-4">
						<p>All the mods available on the site are made possible thanks to the <a href="https://github.com/Hacktix/Winch">Winch mod loader</a> 
						by <a href="https://github.com/Hacktix">Hacktix</a>.</p>

						<p>If you're interested in creating mods yourself, check out the <a href=https://github.com/Hacktix/Winch/wiki>documentation</a> 
						or try picking apart the <a href="https://github.com/Hacktix/Winch/tree/master/Winch.Examples">example mods</a>.</p>
					</div>
				</div>

			</div>
		</div>

		<br/>

		<Title title="Community" />

		<div class="w-100 justify-content-center d-flex">
			<div class="w-50">
				<p>Join the DREDGE community modding Discord server for mod support, or if you want to talk about playing and creating mods.</p>
				<BrandLink class="fa-discord" name="Modding Discord" url="https://discord.gg/qFqPuTUAmD" linkClass="link-light" />
			</div>
		</div>

	</main>
</Layout>


