---
import Layout from '../layouts/Layout.astro';
import Title from '../components/Title.astro';

const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title}>
	<main>
		<a href="javascript:history.back()">Back</a>

		<Title title="" />

        <slot />
	</main>
</Layout>
