---
import Layout from '../layouts/Layout.astro';
import Title from '../components/Title.astro';
import BrandLink from '../components/BrandLink.astro';
import json from '../database.json';

export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<Layout title={title}>
	<main>
		<a href="/mods/">Back to Mods</a>

		<Title title={title} />

        <slot />
	</main>
</Layout>
